.container {
  display: block;
  text-align: center;
}



.quantity {
  background-color: #282c34;
  display: flex;
  color: white;
  justify-content: space-evenly;
  height: 50px;
  align-items: center;
  margin: auto;
  width: 300px;
}

.quantity_input {
  width: 100px;
  height: 20px;
}

.quantity_minus, .quantity_plus {
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 20px;
}

.quantity_minus:hover, .quantity_plus:hover{
  background-color: #4b5058;
}

